<!-- password_reset_confirm.html -->
{% extends 'base.html' %}
{% block content %}
  <header class="py-8 py-md-11" style="background-image: none;">
      <div class="container text-center py-xl-2">
          <h1 class="display-4 fw-semi-bold mb-0">Reset Password</h1>
      </div>
  </header>

  <div class="container mb-11">
      <div class="row gx-0">
          <div class="col-12 col-xl-4 mx-auto">
              <h3 class="mb-6">Set Your New Password</h3>
              <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}  <!-- Render the form -->
                  <button class="btn btn-block btn-primary" type="submit">Set Password</button>
              </form>
          </div>
      </div>
  </div>
{% endblock %}
